@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,900");
p.warning {
  text-align: center;
  line-height: 2;
}
p.warning a {
  background: #3bacff;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 3px;
  white-space: nowrap;
}
p.warning a.more {
  background: #45ba04;
}

/*
SCSS variables and mixins
*/
/*
Some styles to make this demo look pretty (or at least decent)
If you want to style everything yourself, you shouldn't need these
*/
body {
  padding: 1em;
  background: #eee;
  color: #444;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
body a {
  text-decoration: none;
  color: #444;
}
body p {
  margin-top: 0;
}
body div {
  box-sizing: border-box;
}

h2 {
  margin: 2em auto 0;
  text-align: center;
}

.tabbed-content {
    background: #fff;
    box-shadow: 1px 1px 6px #ccc;
    max-width: 100%;
    width: 80em;
    /* height: 30em; */
    border-radius:25px;
    max-height: 100%;
    padding: 1em;
    margin: 1em auto;
}

.tabs ul {
  margin: 0;
  padding: 0 0 1em 0;
  font-weight: bold;
}
.tabs ul li {
  background: ghostwhite;
  width: 10.1em;
  border-radius:15px;
}
.tabs ul li a {
  padding: 0.5em 1em;
}
.tabs ul li a:hover, .tabs ul li a.active {
    background: darkgray;
    color: black;
    border-radius:15px;
}

.item {
  margin-bottom: 2px;
}
.item::before {
  cursor: pointer;
  font-weight: bold;
  background: #eee;
  padding: 0.5em;
  display: block;
}
.item.active::before {
  background: #444;
  color: #eee;
}
.item.active .item-content {
  padding: 1em;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

@media all and (min-width: 768px) {
  .item.active .item-content {
    padding-top: 0;
  }

  .tabs-side .tabs li {
    margin-bottom: 2px;
  }
}
/* 
The project specific CSS starts here
This is the minimum CSS that you will need in order for this to work
*/
.tabbed-content .tabs {
  display: none;
}
.tabbed-content .item {
  min-height: 2em;
}
.tabbed-content .item::before {
  content: attr(data-title);
}
.tabbed-content .item .item-content {
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.tabbed-content .item.active .item-content {
  opacity: 1;
  visibility: visible;
  height: auto;
}

@media all and (min-width: 768px) {
  .tabbed-content .tabs {
    display: block;
  }
  .tabbed-content .tabs li {
    display: inline-block;
  }
  .tabbed-content .tabs li a {
    display: block;
  }
  .tabbed-content .item {
    min-height: 0;
  }
  .tabbed-content .item::before {
    display: none;
  }
  .tabbed-content.tabs-side .tabs {
    width: 150px;
    float: left;
  }
  .tabbed-content.tabs-side .tabs li {
    display: block;
  }
  .tabbed-content.tabs-side .item {
    margin-left: 150px;
  }
}



.main-heading {
    max-width: 480px;
    /* padding-left: 10px; */
    font-weight: 400;
}
.inner-text {
    max-width: 450px;
    /* padding-left: 21px; */
    margin-bottom: 30px;
    font-size: 17px;
    margin-left: -2em;
    line-height: 1.5;
    /* font-weight: 600; */
}
.body-button {
    padding: 35px 20px;
}
.body-button .btn {
    background-color: #36f;
    color: #e9f8ff;
    padding: 10px 30px;
}
.image img {
    padding-right: 15px;
    height: 300px;
    width: 500px;
}

@media screen and (max-width: 500px) {
    .main-heading {
        /* width: 11em; */
        font-size: 2.1em;
    }
  }
@media screen and (max-width: 400px) {
    .main-heading {
        /* width: 11em; */
        font-size: 1.5em;
    }
  }
  @media screen and (max-width: 768px) {
    .image img {
        height:auto;
        width:auto;
    }
  }